<div class="card">
  <div class="card-header">
    User profile: {{userProfile?.username}}
  </div>

  <div class="card-body" *ngIf="userProfile">
    <div class="row">
      First Name: {{userProfile.firstName}}
    </div>
    <div class="row">
      Last Name: {{userProfile.lastName}}
    </div>
    <div class="row">
      Phone number: {{userProfile.phone}}
    </div>
  </div>

  <div class="card-footer">
<!--    TODO implement go back-->
    <button class="btn btn-outline-secondary"
            style="width:80px"
            (click)="onBack()">
      <i class="fa fa-chevron-circle-left"></i> Back
    </button>
    <button *ngIf="userProfile?.id" class="btn-outline-primary btn-sm"
            [routerLink]="['/offers/user-offers/', userProfile?.id]">
      Check user offers
    </button>
  </div>
</div>

<app-comment-list [userId]="userId" [newCommentUploaded]="newComment"></app-comment-list>

<app-comment-add [targetUserId]="userId" (savedComment)="onCommentSaved($event)"></app-comment-add>
