<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10"
               [mode]="isScreenSmall ? 'over' : 'side'"
               [opened]="!isScreenSmall"
               *ngIf="authenticationService.loggedUserId">
    <mat-toolbar color="primary">
      Exchange/Buy Requests
    </mat-toolbar>
    <mat-toolbar color="secondary">
      My Requests
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngFor="let swapRequest of mySwapRequests">
        <a matLine [routerLink]="['/exchange-offer', swapRequest.id]" *ngIf="swapRequest.acceptedByTargetUser != false">
          <mat-icon matLine svgIcon='svg-1'></mat-icon>
          <span mat-line>{{"Requested Toy: " +  swapRequest.targetToyName }} </span>
          <span mat-line>{{"Offered Toy: " +  swapRequest.inExchangeToyName }} </span>
          <span mat-line>{{"Response: " + (swapRequest.acceptedByTargetUser == null ? "waiting for answer" : swapRequest.acceptedByTargetUser ? "accepted" : "declined")}} </span>
        </a>
      </mat-list-item>
    </mat-nav-list>

    <mat-toolbar color="secondary">
      Requests made to me
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngFor="let swapRequest of swapRequestsToMe">
        <a matLine [routerLink]="['/exchange-offer', swapRequest.id]">
          <mat-icon matLine svgIcon='svg-1'></mat-icon>
          <span mat-line>{{"Requested Toy: " +  swapRequest.targetToyName }} </span>
          <span mat-line>{{"Offered Toy: " +  swapRequest.inExchangeToyName }} </span>
          <span mat-line>{{"Response: " + (swapRequest.acceptedByTargetUser == null ? "click to make an answer" : swapRequest.acceptedByTargetUser ? "accepted" : "declined")}} </span>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div class="app-sidenav-content">
    <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-sidenav-container>
