mat-grid-tile {
  background: #e2eeff;
  display: flex;
  height: 100%;
  flex-direction: column;
}

mat-card {
  margin: 5px;
}

#carousel {
  width: 100%;
  height: 150px;
  background-color: #ff0000;

  overflow: visible;
  white-space:nowrap;
}

#carousel .slide {
  display: inline-block;
}

.wrapper {
  max-height: 500px;
  display: flex;
  overflow-x: auto;
  flex-direction: column;
}


.wrapper::-webkit-scrollbar{

}

.wrapper .item{
  min-width: 500px;
  height: 500px;
  line-height: 110px;
  text-align: center;
  margin: 2px;
}

::-webkit-scrollbar {
  width: 4px;
  overflow-y: scroll;
  background: #d3d3d3;
  box-shadow: inset 0 0 4px #c7c6c6;
  transform: scaleX(-1);
}

::-webkit-scrollbar-thumb {
  background: #5d5def;
  border-radius: 10px;
  transform: scaleX(-1);

}
