<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{pageTitle + ': ' + offer?.toy?.toyName}}</mat-card-title>
  </mat-card-header>

  <mat-card-content *ngIf="offer">


  <mat-grid-list cols="2" rowHeight="1.5:1">
    <mat-grid-tile>
      <mat-card class="example-card">

      <mat-list role="list">
        <mat-list-item role="listitem">Toy Name: {{offer.toy.toyName}}</mat-list-item>
        <mat-list-item role="listitem">Toy type: {{offer.toy.toyType}}</mat-list-item>
        <mat-list-item role="listitem">Age minimum: {{offer.toy.ageMinimum}}</mat-list-item>
        <mat-list-item role="listitem">Toy description: {{offer.toy.description}}</mat-list-item>
        <mat-list-item role="listitem">City: {{offer.city}}</mat-list-item>
        <mat-list-item role="listitem">Delivery option: {{offer.deliveryOption}}</mat-list-item>
        <mat-list-item role="listitem">Offer type: {{offer.offerType}}</mat-list-item>
        <mat-list-item role="listitem" *ngIf="offer.offerType != 'exchange'">Price: {{offer.price | currency:'PLN':'symbol':'1.2-2'}}</mat-list-item>
      </mat-list>
      </mat-card>
      <mat-card class="example-card">

        <img src="{{offer.toy.imageURL}}"
             [title]="offer.toy.toyName"
             [style.width.px]="imageWidth"
             [style.margin.px]="imageMargin">
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>

      <div class="wrapper">
        <div class="item" *ngFor="let urls of imageURLS">
          <img src={{urls}}
           [title]="offer.toy.toyName"
           [style.width.px]="350"
           [style.margin.px]="imageMargin">
        </div>
      </div>
    </mat-grid-tile>

  </mat-grid-list>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="onBack()">Back</button>
    <button mat-button *ngIf="offer?.userId"
            [routerLink]="['/user-profile', offer?.userId]"> View Profile</button>
    <button mat-button color="primary" *ngIf="authenticationService?.loggedUserId"
            [routerLink]="['/create-exchange-offer', offer?.id]"> Create Exchange Offer</button>
  </mat-card-actions>
</mat-card>
