<div class="card">
  <div class="card-header">
    Filter offers:
  </div>

  <div class="card-body">
    <form novalidate
          (ngSubmit)="search()"
          [formGroup]="offerSearchFormGroup">


      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label pt-0">Filtery by:</label>
        <div class="col-md-8">
          <div class="form-check form-check-inline">
            <input class="btn-check"
                   id="cityFlagCheckbox"
                   type="checkbox"
                   autocomplete="off"
                   formControlName="cityFlag"
            (change)="flagCheckboxChanged('city')">
            <label class="btn btn-outline-secondary" for="cityFlagCheckbox">City</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="btn-check"
                   id="ageMinimumCheckbox"
                   type="checkbox"
                   autocomplete="off"
                   formControlName="ageMinimumFlag"
                   (change)="flagCheckboxChanged('ageMinimum')">
            <label class="btn btn-outline-primary" for="ageMinimumCheckbox">Age minimum</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="btn-check"
                   id="offerTypeCheckbox"
                   type="checkbox"
                   autocomplete="off"
                   formControlName="offerTypeFlag"
                   (change)="flagCheckboxChanged('offerType')">
            <label class="btn btn-outline-primary" for="offerTypeCheckbox">Offer Type</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="btn-check"
                   id="deliveryOptionCheckbox"
                   type="checkbox"
                   autocomplete="off"
                   formControlName="deliveryOptionFlag"
                   (change)="flagCheckboxChanged('deliveryOption')">
            <label class="btn btn-outline-primary" for="deliveryOptionCheckbox">Delivery Option</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="btn-check"
                   id="priceCheckbox"
                   type="checkbox"
                   autocomplete="off"
                   formControlName="priceFlag"
                   (change)="flagCheckboxChanged('price')">
            <label class="btn btn-outline-primary" for="priceCheckbox">Price</label>
          </div>
        </div>
      </div>

      <div *ngIf="offerSearchFormGroup.get('cityFlag')?.value">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="cityFilterId">City Name</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="cityFilterId"
                   type="text"
                   placeholder="City name"
                   formControlName="city"
                   [ngClass]="{'is-invalid': displayMessage.city}"/>
            <span class="invalid-feedback">
              {{displayMessage.city}}
            </span>
          </div>
        </div>
      </div>

      <div *ngIf="offerSearchFormGroup.get('ageMinimumFlag')?.value">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="ageMinimumFilterId">Age minimum</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="ageMinimumFilterId"
                   type="number"
                   placeholder="Minimum age (ex. 3)"
                   formControlName="ageMinimum"
                   [ngClass]="{'is-invalid': displayMessage.ageMinimum}"/>
            <span class="invalid-feedback">
              {{displayMessage.ageMinimum}}
            </span>
          </div>
        </div>
      </div>

      <div *ngIf="offerSearchFormGroup.get('offerTypeFlag')?.value">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label pt-0">Offer type</label>
          <div class="col-md-8">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input"
                       type="radio"
                       value="exchange"
                       formControlName="offerType"> Exchange
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input"
                       type="radio"
                       value="sell"
                       formControlName="offerType"> Sell
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input"
                       type="radio"
                       value="sellexchange"
                       formControlName="offerType"> Exchange/Sell
              </label>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="offerSearchFormGroup.get('deliveryOptionFlag')?.value">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label pt-0">Delivery option</label>
          <div class="col-md-8">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input"
                       type="radio"
                       value="courier"
                       formControlName="deliveryOption"> Courier
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input"
                       type="radio"
                       value="pickup_in_person"
                       formControlName="deliveryOption"> Pickup in person
              </label>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="offerSearchFormGroup.get('priceFlag')?.value">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="priceFilterId">Price</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="priceFilterId"
                   type="number"
                   placeholder=""
                   formControlName="price"
                   [ngClass]="{'is-invalid': displayMessage.price}"/>
            <span class="invalid-feedback">
              {{displayMessage.price}}
            </span>
          </div>
        </div>
      </div>
<!--      <div *ngIf="offerSearchFormGroup.get('toyDetailsFlag')?.value">-->
<!--        <div formArrayName="toyDetails"-->
<!--             *ngFor="let details of toyDetails.controls; let i=index">-->
<!--          <div [formGroupName]="i">-->
<!--            <div class="form-group row mb-2">-->
<!--              <label class="col-md-2 col-form-label"-->
<!--                     attr.for="{{'toyTypeId' + i}}}">Toy Type</label>-->
<!--              <div class="col-md-8">-->
<!--                <input class="form-control"-->
<!--                       id="{{'toyTypeId' + i}}}"-->
<!--                       type="text"-->
<!--                       placeholder="Toy Type"-->
<!--                       formControlName="toyType"-->
<!--                       [ngClass]="{'is-invalid': toyTypeValidationMessage}"/>-->
<!--                <span class="invalid-feedback">-->
<!--              {{toyTypeValidationMessage}}-->
<!--            </span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="form-group row mb-2">-->
<!--              <label class="col-md-2 col-form-label"-->
<!--                     attr.for="{{'priceId' + i}}">Price</label>-->
<!--              <div class="col-md-8">-->
<!--                <input class="form-control"-->
<!--                       id="{{'priceId' + i}}"-->
<!--                       type="text"-->
<!--                       placeholder="Price"-->
<!--                       formControlName="price"-->
<!--                       [ngClass]="{'is-invalid': priceValidationMessage}"/>-->
<!--                <span class="invalid-feedback">-->
<!--              {{priceValidationMessage}}-->
<!--            </span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="form-group row mb-2">-->
<!--          <div class="col-md-4">-->
<!--            <button class="btn btn-outline-primary"-->
<!--                    type="button"-->
<!--                    [disabled]="!toyDetails.valid"-->
<!--                    (click)="addToyDetails()">-->
<!--              Add another Toy Details-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->


      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
                  type="submit"
                  style="width:80px"
                  [title]="offerSearchFormGroup.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="!offerSearchFormGroup.valid">
            Search
          </button>
          <button class="btn btn-outline-secondary"
                  type="button"
                  (click)="getOffers()">
            Reset filters
          </button>
        </div>
      </div>
    </form>
  </div>
</div>


<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table" *ngIf="offers.length">
        <thead>
        <tr>
          <th>
            <button class="btn btn-primary"
                    (click)="toggleImage()">
              {{showImage ? "Hide" : "Show"}} image
            </button>
          </th>
          <th>Toy name</th>
          <th>Type</th>
          <th>Age-minimum</th>
          <th>Offer-Type</th>
          <th>City</th>
          <th>Price</th>
          <th>Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let offer of offers">
          <td>
            <img *ngIf="showImage"
                 src="{{offer.toy.imageURL}}"
                 [title]="offer.toy.toyName"
                 [style.width.px]="imageWidth"
                 [style.margin.px]="imageMargin">
          </td>
          <td>
            <a [routerLink]="['/offers', offer.id]">
              {{offer.toy.toyName | convertToSpaces:"-"}}
            </a>
          </td>
          <td>{{offer.toy.toyType}}</td>
          <td>{{offer.toy.ageMinimum}}</td>
          <td>{{offer.offerType}}</td>
          <td>{{offer.city}}</td>
          <td>{{offer.offerType != "exchange" ? (offer.price | currency:'PLN':'symbol':'1.2-2') : "-.--"}}</td>
          <td>
            <star-rating [rating]="3.5"
                         (ratingClicked)="onRatingClicked($event)"></star-rating>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>

<div>
  <br> Value: {{ offerSearchFormGroup.value | json }}
</div>
