<div class="mat-elevation-z8" style="background: #e2eeff">
  <div class="card-header">
    Filter offers:
  </div>

  <div class="card-body">
    <form novalidate
          (ngSubmit)="search()"
          [formGroup]="offerSearchFormGroup">


      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label pt-0"></label>
        <div class="col-md-8">
          <div class="form-check form-check-inline">
            <input class="btn-check"
                   id="cityFlagCheckbox"
                   type="checkbox"
                   autocomplete="off"
                   formControlName="cityFlag"
                   (change)="flagCheckboxChanged('city')">
            <label class="btn btn-outline-primary"  for="cityFlagCheckbox">City</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="btn-check"
                   id="ageMinimumCheckbox"
                   type="checkbox"
                   autocomplete="off"
                   formControlName="ageMinimumFlag"
                   (change)="flagCheckboxChanged('ageMinimum')">
            <label class="btn btn-outline-primary" for="ageMinimumCheckbox">Age minimum</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="btn-check"
                   id="offerTypeCheckbox"
                   type="checkbox"
                   autocomplete="off"
                   formControlName="offerTypeFlag"
                   (change)="flagCheckboxChanged('offerType')">
            <label class="btn btn-outline-primary" for="offerTypeCheckbox">Offer Type</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="btn-check"
                   id="deliveryOptionCheckbox"
                   type="checkbox"
                   autocomplete="off"
                   formControlName="deliveryOptionFlag"
                   (change)="flagCheckboxChanged('deliveryOption')">
            <label class="btn btn-outline-primary" for="deliveryOptionCheckbox">Delivery Option</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="btn-check"
                   id="priceCheckbox"
                   type="checkbox"
                   autocomplete="off"
                   formControlName="priceFlag"
                   (change)="flagCheckboxChanged('price')">
            <label class="btn btn-outline-primary" for="priceCheckbox">Price</label>
          </div>
        </div>
      </div>

      <div *ngIf="offerSearchFormGroup.get('cityFlag')?.value">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="cityFilterId">City Name</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="cityFilterId"
                   type="text"
                   placeholder="City name"
                   formControlName="city"
                   [ngClass]="{'is-invalid': displayMessage.city}"/>
            <span class="invalid-feedback">
              {{displayMessage.city}}
            </span>
          </div>
        </div>
      </div>

      <div *ngIf="offerSearchFormGroup.get('ageMinimumFlag')?.value">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="ageMinimumFilterId">Age minimum</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="ageMinimumFilterId"
                   type="number"
                   placeholder="Minimum age (ex. 3)"
                   formControlName="ageMinimum"
                   [ngClass]="{'is-invalid': displayMessage.ageMinimum}"/>
            <span class="invalid-feedback">
              {{displayMessage.ageMinimum}}
            </span>
          </div>
        </div>
      </div>

      <div *ngIf="offerSearchFormGroup.get('offerTypeFlag')?.value">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label pt-0">Offer type</label>
          <div class="col-md-8">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input"
                       type="radio"
                       value="exchange"
                       formControlName="offerType"> Exchange
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input"
                       type="radio"
                       value="sell"
                       formControlName="offerType"> Sell
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input"
                       type="radio"
                       value="sellexchange"
                       formControlName="offerType"> Exchange/Sell
              </label>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="offerSearchFormGroup.get('deliveryOptionFlag')?.value">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label pt-0">Delivery option</label>
          <div class="col-md-8">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input"
                       type="radio"
                       value="courier"
                       formControlName="deliveryOption"> Courier
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input"
                       type="radio"
                       value="pickup_in_person"
                       formControlName="deliveryOption"> Pickup in person
              </label>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="offerSearchFormGroup.get('priceFlag')?.value">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="priceFilterId">Price</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="priceFilterId"
                   type="number"
                   placeholder=""
                   formControlName="price"
                   [ngClass]="{'is-invalid': displayMessage.price}"/>
            <span class="invalid-feedback">
              {{displayMessage.price}}
            </span>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4"
             *ngIf="offerSearchFormGroup.get('cityFlag')?.value
                  || offerSearchFormGroup.get('ageMinimumFlag')?.value
                  || offerSearchFormGroup.get('offerTypeFlag')?.value
                  || offerSearchFormGroup.get('deliveryOptionFlag')?.value
                  || offerSearchFormGroup.get('priceFlag')?.value">
          <button class="btn btn-primary mr-3"
                  type="submit"
                  style="width:80px"
                  [title]="offerSearchFormGroup.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="!offerSearchFormGroup.valid">
            Search
          </button>
          <button class="btn btn-outline-secondary"
                  type="button"
                  (click)="getOffers()">
            Reset filters
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort *ngIf="dataSource">

    <ng-container matColumnDef="imageURL">
      <th mat-header-cell *matHeaderCellDef> Image </th>
      <td mat-cell *matCellDef="let offer"> <img [src]="offer.toy.imageURL"
                                                 [title]="offer.toy.toyName"
                                                 [style.width.px]="imageWidth"
                                                 [style.margin.px]="imageMargin"/> </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Offer Id </th>
      <td mat-cell *matCellDef="let offer"> {{offer.id}} </td>
    </ng-container>

    <ng-container matColumnDef="toyName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Toy Name </th>
      <td mat-cell *matCellDef="let offer"> {{offer.toy.toyName}} </td>
    </ng-container>

    <ng-container matColumnDef="toyType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Toy Type </th>
      <td mat-cell *matCellDef="let offer"> {{offer.toy.toyType}} </td>
    </ng-container>

    <ng-container matColumnDef="ageMinimum">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Age Minimum </th>
      <td mat-cell *matCellDef="let offer">{{offer.toy.ageMinimum}}</td>
    </ng-container>

    <ng-container matColumnDef="offerType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Offer Type </th>
      <td mat-cell *matCellDef="let offer">{{offer.offerType}}</td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
      <td mat-cell *matCellDef="let offer">{{offer.city}}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let offer">{{offer.offerType != "exchange" ? (offer.price | currency:'PLN':'symbol':'1.2-2') : "-.--"}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [routerLink]="['/offers', row.id]"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filters</td>
    </tr>
  </table>

  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
