<div class="card">
  <div class="card-header">
    Ratings of the user
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table" *ngIf="comments.length">
        <thead>
        <tr>
          <th>Create date</th>
          <th>Content</th>
          <th>Rating</th>
          <th>AuthorId</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let comment of comments">
          <td>{{comment.create_date}}</td>
          <td>{{comment.content}}</td>
          <td>
            <star-rating [rating]=comment.rating></star-rating>
          </td>
          <td>{{comment.authorId}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
